# Derleme ve Geçici Dosyaları Dil Sayımından Hariç Tut
*.toc linguist-vendored
*.pyz linguist-vendored
*.pkg linguist-vendored
*.zip linguist-vendored
*.html linguist-vendored
*.txt linguist-vendored
*.spec linguist-vendored
